$font-path: '../fonts/';
$font-family: 'Ubuntu';
$second-family: 'WorkSans';
$third-family: 'Roboto';

$black: #000000;
$light-black: #182233;
$dark-blue: #374151;
$white: #ffffff;
$light-blue: #a0c3ff;
$blue: #116acc;
$grey: #9ca3af;
$shy-grey: #e5e5e5;
$light-grey: #f3f4f6;
$dark-red: #ba0000;
$green: #76ca66;
$red: #fd4e5d;
